html{
    /*tamaño por defecto*/
    font-size: 16px;
}
/*
    1rem es relativo al html
    1rem toma por valor lo que se defina en el font-size de html
    0.0625rem = 01px
    0.5000rem = 08px
    1.0000rem = 16px
    1.5000rem = 24px
    2.0000rem = 32px
p{
    font-size: 1rem;
    border: 0.0625rem black solid;
    padding: 1rem;
}
*/
.caja{
    font-size: 16px;
}
/*
    1em es relativo al elemento padre que lo contenga
    1em toma por valor lo que se defina en el font-size de .caja
    0.0625em = 01px
    0.5000em = 08px
    1.0000em = 16px
    1.5000em = 24px
    2.0000em = 32px
    
    Nota: Si no se defina el font-size en el elemento padre, se toma por defecto el del html
*/
p{
    font-size: 1em;
    border: 0.0625em black solid;
    padding: 1em;
}